/* Structure */
.customer{
	font-weight: bold;
	font-style: oblique;
}


.gallery_images{
	width: 550px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

html{
	background: #eee;
}
body {
  padding: 0px;
  background: #fff;
  color: #333;
  margin: 0 auto;
  max-width: 900px;
  font-size: 1em/1.5
  }

a {
  color: #105672;
}

header {
	background: #fff;
	padding: 1em;
	margin-top: 1em;
	bottom: 10px;
	color: #000;
	line-height: 1;
}

header h1{
	margin-bottom: 0;
}



li {
	float: left;
	display: inline;	
}

li a {
	text-decoration: none;	
	color: gray;
	margin: 10px;
	display: block;
	display: inline-block;
	color: white;
}

.log0{
	float: right;
	width: 50px;
	height: 30px;	
}


[role=main]{
	padding:1.5em 3em;
}
article{
	padding: 1em 0;
}
footer{
	background: #333;
	color: #fff;
	padding: .1em 3em;
	width: auto;	
}

/* Typography */

p{
	font: 1em/1.5 Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}


img{
	max-width: 100%;
	height: auto;
}


blockquote{
	float: left;
	margin: 1em 3em;
}
blockquote p{
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: 700;
	font-style:italic;
}
a{
	font: 700 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none
}
a:hover, a:focus{
	color: #000;
}
a:active{
	position: relative;
	top:1px;
}



/* Media queries */ 
@media screen and (min-width:900px)
{
	body{font-size: 1.1em;}
}

@media screen and (max-width:600px)
{
	#tabs nav{
			display: none;
			position: relative;
		}
		#tabs #mobiles{
		display:block;
		}
		#tabs article {
		display:block;
		}
}
@media screen and (max-width:480px)
{
	blockquote{
	float: none;
	}

	header nav a{
		padding:.7em .8em
		border-right: 1px solid #222
	}
	header nav{
		float: none;
		margin: -.5em -3em 0;
		background: #000;
		overflow: hidden;
		text-align: left
	}
	nav li{
		width: 100%;
	}
	nav a{
		text-align: center;
	}
	[role=main]{
	padding:1.5em 2em;
	}
	header nav div{
	display: none;
	}

}
